body {
  background-color: #2D2848;
  margin: 0;
  padding: 0;
}

p {
  color: #FFFFFF;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.title {
  font-size: 34px;
}

#root {
  text-align: center;
  margin: 16px;
}
